<body>
	<p>
	  <strong>name:</strong>
	  <%= @rental.name %>
	</p>
	 
	<p>
	  <strong>mobile:</strong>
	  <%= @rental.mobile %>
	</p>
	
<%= link_to 'Back', rentals_path %><br>
<%= link_to 'Home', '/welcome/index.html' %>
</body>